@tailwind base;
@tailwind components;
@tailwind utilities;

/* delete arrowControl in input with type Number */
@layer utilities {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}
